.wrapper {
    display: flex;
    width: 100%;
}

#sidenavCollapse {
    position: absolute;
    right:-40px;
    padding: 0 6px;
}

#sidenav {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 10px 1em;
    z-index: 999;
    background: #145177;
    color: #fff;
    transition: all 0.3s;
}

#sidenav ul {
    margin: 16px 0;
}

#sidenav.collapsed {
    left:-200px;
}

#sidenav a {
    color: #fff;
}

/*Controls sidenav animation*/
.wrapper > .container-fluid{
    transition: all 0.5s;
}

/*Fades in when sidenav slides in and fades out when collapsing*/
.faded {
    background-color: rgba(0,0,0, 0.3);
    filter: brightness(50%);
}

@media (min-width: 992px) {
    #sidenav {
        position: initial;
        height: auto;
    }
    #sidenavCollapse {
        display: none;
    }
    .faded {
        background-color: initial;
        filter: none;
    }
}

